body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}


h1 {
    margin-top: 0;
}

input[type="text"], input[type="password"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #3e8e41;
}
footer {
    background-color: #333;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #f5f1f1;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
  }
  
  nav a:hover {
    color: #333;
  }
  
  p {
    margin: 10px 0;
    color: #777;
    text-align: right;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    color: #555;
  }
  